header {
  background-color: #333;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-button {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #555;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #cf30b4;
}

section {
  padding: 300px 20px;
  margin-top: 60px; /* Отступ для учета фиксированной шапки */
}
